.LoginForm {
  width: 580px;
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  padding: 0 69px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.LoginFormInnerBox {
  height: 100%;
  padding: 40px 0 40px;
  box-sizing: border-box;
}

/* 회원가입, 계정/ 비밀번호 찾기 레이아웃 */

.TextButtonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

.FindInfo {
  display: flex;
  gap: 20px;
}
